<!DOCTYPE html>
<html lang="en">
<head>
  <link href="/css/styles.css" rel="stylesheet" type="text/css">
  <title>TinyApp</title>
</head>
<body>
  <div class="center">
<header>

 <% include ./partials/_header.ejs %>
</header>

<form method="POST" action="/login">
  <p>Email:<br></p>
  <input type="email" name="email" size="35">
  <p>Password:<br></p>
  <input type="password" name="password" size="35">

  <input type="submit" value="Login" class="button deleteB">
</form>
</div>
</body>
</html>