<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
<header>
    <% include ./partials/_header.ejs %>
</header>

    <ul>
    <% for (shortname in urls) { %>
<form method="POST" action="/urls/<%= shortname %>/delete">
        <li><%= shortname %> --> <%= urls[shortname] %>

<a href='/urls/<%= shortname %>'>Edit</a>
  <button type="submit">Delete URL</button>


        </li>
</form>
    <% }; %>

</ul>




<a href='#'>A link for shortening a new URL</a>
</body>
</html>