<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="center">
    <% include partials/_header %>
    <form action="/urls" method="POST">
      <p><label for="longURL">Enter a URL:</label></p>
      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
      <input type="submit" value="Submit" class="button deleteB">
    </form>
  </div>
  </body>
</html>